body {
  margin:0;
}

.landing-page-image {
  background-image:url(./images/createJoinRoom-bgImage.jpg);
  height:100vh;
  max-width:100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content: flex-end;
  flex-direction:column;
}


.grey-button {
width:200px;
color: #128781;
background-color: #EDEDEC;
font-family:Montserrat;
font-weight: 700;
border:none;
}
